html, body {
	font-size: 16px;
	height: 100%;
	width: 100%;
	background-color: #1E0B21;
	overflow-x: hidden;
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
}

.stats-page {
	background-color: #001A21;
}

input {
	text-indent: 5%;
	color: #333;
	font-family: roboto, sans-serif;
	font-weight: 100;
}

/*.container {
	margin-left: 0;
}*/

.login-form {
	padding: 70px 90px 50px 90px;
}

.intro-text {
	padding: 0px 0px 50px 90px;
	margin-top: 3%;
}

.form-control {
	height: 23em;
	border-radius: 60px;
	background-color: #413044;
	border-color: #777;
}

.login-title {
	text-align: center;
	margin-top: 40px;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 3.4rem;
	color: #fff;
	text-transform: uppercase;
}

.btn {
	width: 75%;
	height: 15%;
	margin: 5% 12% 2% 12%;
	font-size: 1.5em;
	text-align: center;
	border-radius: 80px;
	background-color: #C36A3F;
	cursor: pointer;
}

.teamid-button {
	width: 350px;
	height: 15%;
	margin: 3% 20% 14% 37%;
	font-size: 1.5em;
	text-align: center;
	border-radius: 80px;
	background-color: #C36A3F;
	font-family: roboto, sans-serif;
	font-weight: 300;
	text-transform: uppercase;
}

.yahoo-account {
	font-size: 1.05em;
	text-decoration: none;
	margin: 0 20% 0 24%;
	color: #999;
	float: right;
}

.yahoo-account:hover {
	text-decoration: underline;
	color: #888;
}

.yahoo-account:visited {
	text-decoration: none;
}


.intro-title {
	font-size: 2em;
	color: #aacbff;
	font-family: roboto, sans-serif;
	font-weight: 300;
}

.id-input {
	height: 80px;
	width: 50%;
	margin: 3% 16% 0 16%;
	border-radius: 20px;
	background-color: #554757;
	border: 0.5px solid #fff;
	font-size: 2.5em;
	font-weight: 100;
}

.teamid-pos {
	margin: 1.5% 0 2% 12.5%;
	font-family: roboto;
	font-weight: 100;
	font-size: 2.5em;
}

.centered-form {
	margin: 0 5% 0 5%;
}

.login-name {
	font-size: 5em;
	color: #aacbff;
	font-family: roboto, sans-serif;
	font-weight: 100;
	opacity: 0.8;
	margin-top: 4%;
	margin-left: 12%;
}

.intro-blurb {
	font-size: 1.3em;
	color: #fff;
	opacity: 0.75;
	font-family: roboto, sans-serif;
	font-weight: 100;
	margin-bottom: 30px;
	line-height: 1.3;
}

.footer {
	padding-bottom: 0;
	text-align: center;
	margin-bottom: 3%;
	margin-top: 3%;
}

.navbar-nav {
	margin-left: 41%;
	color: #fff;
}

.nav-item {
	font-size: 1.2em;
	margin-right: 60px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	text-transform: uppercase;
}

.navbar-inverse .navbar-toggler-icon {
	background-image: url(../img/001-burger.png)!important;
	width: 50px !important;
	height: 50px !important;
	cursor: pointer;
	margin-top: 15px;
}

.navbar-inverse .navbar-toggler {
	border-color: rgba(255,255,255,0)
}

.fs-logo {
	width: 300px;
	margin: 40px 0 0 50px;
}

.fs-screens {
	width: 100%;
}

.heart {
	color: #EF7797;
}

/* DATA VISUALIZATION PAGE */

.team-results {
	font-family: roboto, sans-serif;
	font-weight: 100;
	font-size: 2em;
	color: #fff;
	opacity: 0.9;
	margin-left: 12%;
	margin-top: 5%;
}

.newid-input {
	width: 55%;
	height: 50px;
	border-radius: 8px;
	background-color: #002631;
	border: 1px solid #999;
	margin-left: 12%;
	margin-top: 3%;
}

.newid-button {
	width: 130px;
	height: 15%;
	font-size: 1.5em;
	margin-left: 2%;
	text-align: center;
	border-radius: 10px;
	background-color: #C36A3F;
	font-family: roboto, sans-serif;
	font-weight: 300;
	text-transform: uppercase;
}

.visual-data {
	font-family: roboto, sans-serif;
	font-size: 1.8em;
	color: #aacbff;
	opacity: 0.75;
	font-weight: 200;
	margin-left: 12%;
	margin-top: 5%;
}

.data-heading {
	font-family: roboto, sans-serif;
	font-weight: 300;
	font-size: 1.7em;
	color: #fff;
	opacity: 0.9;
	margin-left: 3%;
	margin-top: 3%;	
}

.data-des {
	font-family: roboto, sans-serif;
	font-weight: 100;
	font-size: 1.2em;
	color: #fff;
	opacity: 0.7;
	margin-left: 3%;
	margin-top: 1%;	
	margin-right: 3%;
}

.data-selector-draft, .data-selector-goalie {
	border: 2px solid #fff;
	border-radius: 15px;
	margin: 5% 12% 5% 12%;
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
}


.data-selector-draft:hover, .data-selector-goalie:hover {
	border: 2px solid #C36A3F;
}

.active {
	border-radius: 15px;
	margin: 5% 12% 5% 12%;
	border: 2px solid #C36A3F;
}

.inactive {
	border-radius: 15px;
	margin: 5% 12% 5% 12%;
	border: 2px solid #fff;
}

.data-visuals {
	font-family: roboto, sans-serif;
	font-size: 2em;
	color: #aacbff;;
	opacity: 0.75;
	font-weight: 200;
	margin-left: 12%;
	margin-top: 5%;
	margin-bottom: 5%;
	text-transform: uppercase;
}

#dp-score {
	color: #fff;
	font-weight: 300;
}

canvas {
	padding-right: 12%;
}

#hidden {
	display: none;
}

/* larger than mobile */



@media (max-width: 991px){
	
	.login-title {
		font-size: 2em;
		margin-top: 18%;
	}
	
	.yahoo-account {
		font-size: 1em;
		float: right;
		margin-right: 18%;

	}
	.form-control {
		width: 96%;
		margin-left: 2%;
		margin-right: 2%;
	}

	.login-form {
		width: 98%;
		margin: 0 1% 0 1%;
		padding: 10% 2% 0 2%;
	}

	.yahoo-login {
		width: 70%;
		margin-left: 15%;
		margin-right: 15%;
		font-size: 1.5em;
		text-align: center;
	}

	.intro-text {
		width: 100%;
		padding: 10% 4% 10% 4%;
	}


}

@media (min-width: 992px) and (max-width: 1199px){
	.login-title {
		font-size: 2em;
		margin-top: 25%;
	}

	.yahoo-account {
		font-size: 0.8em;
	}

	.yahoo-login {
		font-size: 1.4em;

	}

	.form-control {
		width: 100%;
	}

	.login-form {
		padding: 0;
		margin-top: 8%;
	}

	.fs-logo {
		width: 300px;
	}
}

@media (max-width: 767px){
	
	.login-title {
		font-size: 2em;
		margin-top: 20%;
	}
	
	.yahoo-account {
		font-size: 0.9em;
		margin-right: 13%;
		float: right;
	}

	.form-control {
		width: 96%;
		margin-left: 2%;
		margin-right: 2%;
	}

	.yahoo-login {
		width: 70%;
		margin-left: 15%;
		margin-right: 15%;
		font-size: 1.5em;
		text-align: center;
	}

	.intro-text {
		width: 100%;
		padding: 10% 4% 10% 4%;
	}


}

@media (max-width: 518px) {
	.login-title {
		margin-top: 20%;
	}

	.form-control {
		height: 340px;
	}

	.fs-logo {
		margin-left: 0;
		width: 270px;
	}
}

@media (min-width: 1200px) {
	.login-title {
		font-size: 2em;
		margin-top: 20%;
	}

	.yahoo-account {
		font-size: 1em;
	}

	.yahoo-login {
		font-size: 1.em;

	}

	.form-control {
		width: 100%;
	}

	.login-form {
		padding: 0;
		margin-top: 8%;
	}
}


