<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../assets/css/global.css">
  </head>
  <body>


    <nav class="navbar navbar-toggleable-md navbar-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="../assets/img/fantasy-logo2.png" alt="fantasy stats logo" class="fs-logo"></a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav nav-right">
          <a href="#about-section" class="nav-item nav-link" id="about">About<span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="#tour">Tour</a>
          <a class="nav-item nav-link" href="#contact">Contact</a> 
    </nav>


<div class="wrapper">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-5 login-form">
          <div class="form-control">
          <h2 class="login-title">Login with your Yahoo! account</h2>
          <input type="button" class="btn btn-warning yahoo-login" onclick="location.href='/v1/sessions';" value="Login to Yahoo!" />
          <br>
          <a href="#" class="yahoo-account">Don't have a Yahoo! account?</a>
        </div>
          </div>
        <div class="col-lg-7 intro-text">
          <div class="introduction">
          <h3 class="intro-title">We provide insightful NHL game data to help with your fantasy draft picks.</h3>
          <h5 class="intro-blurb">This is an ongoing project dedicated to helping Yahoo! fantasy hockey owners. Log in to see the data visualization of your hockey pool.</h5>
          </div>
          <img src="../assets/img/fantasy-app-screen.png" alt="fantasy app" class="fs-screens">
        </div>
      </div>
    </div>
  </section>

<div class="puck-line">
  <img src="../assets/img/puck.png" class="puck">  &nbsp;
  <img src="../assets/img/puck.png" class="puck">  &nbsp;
  <img src="../assets/img/puck.png" class="puck">  &nbsp;
  <img src="../assets/img/puck.png" class="puck">  &nbsp;
  <img src="../assets/img/puck.png" class="puck">  &nbsp;
  <img src="../assets/img/puck.png" class="puck">
</div>

    <section class="about-section" id="about-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 stuff">
          <h1 class="about-heading">Draft Picks Score</h1>
          <p>See how well your draft picks have performed so far. Your score is based on how well your team is playing, relative to their draft position.</p>
        </div>
        <div class="col-lg-4 stuff">
          <h1 class="about-heading">Choose Your Starting Goalie</h1>
          <p>COMING SOON! We'll deliver live updates to your phone, so you can pick your starting goalie in time for the next game.</p>
        </div>
        <div class="col-lg-4 stuff-right">
          <h1 class="about-heading">What should we build next?</h1>
          <p>This is an ongoing project and we like building stuff. So if you have a good suggestion, send us a message.</p>
        </div>
      </div>
    </div>
    </section>

  <div class="puck-line">
    <img src="../assets/img/puck.png" class="puck">  &nbsp;
    <img src="../assets/img/puck.png" class="puck">  &nbsp;
    <img src="../assets/img/puck.png" class="puck">  &nbsp;
    <img src="../assets/img/puck.png" class="puck">  &nbsp;
    <img src="../assets/img/puck.png" class="puck">  &nbsp;
    <img src="../assets/img/puck.png" class="puck">
  </div>

  <div id="tour">
    <section class="contact-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
          <h1 class="contact-heading">How does this work?</h1>
        <ul class="timeline">
            <li class="timeline adminchat">
                <div class="timeline-badge success"><i class="fa fa-terminal"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Step 1</h4>
                        <p>Login and authenticate your Yahoo! account with Fantasy Stats</p>
                    </div>
                    <div class="timeline-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-18">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="timeline">
                <div class="timeline-badge info"><i class="fa fa-envelope-o"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Step 2</h4>
                        <p></p>
                    </div>
                    <div class="timeline-body">
                        <p>Enter Your Yahoo! Fantasy Team ID</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge warning"><i class="fa fa-bullseye"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Step 3</h4>
                    </div>
                    <div class="timeline-body">
                        <p>Pick the data visualization you would like to see</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge danger"><i class="fa fa-crosshairs"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Step 4</h4>
                    </div>
                    <div class="timeline-body">
                        <p>Enter the Team ID of another player in your league to see their data</p>
                    </div>
                </div>
            </li>
        </ul>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="puck-line">
    <img src="../assets/img/puck.png" class="puck">  &nbsp;
    <img src="../assets/img/puck.png" class="puck">  &nbsp;
    <img src="../assets/img/puck.png" class="puck">  &nbsp;
    <img src="../assets/img/puck.png" class="puck">  &nbsp;
    <img src="../assets/img/puck.png" class="puck">  &nbsp;
    <img src="../assets/img/puck.png" class="puck">
  </div>

    <section class="contact-section" id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
          <h1 class="contact-heading">Shoot us a message:</h1>
            <form class="contact-form" method="post" style="display: inline">
              Hello, my name is 
              <input type="text" style="display: inline" placeholder="Your name" class="contact-line">, and I have a <select name="contact-reason">
              <option value>question</option><option value>comment</option><option value>error report</option></select> about <input type="text" style="display:inline" placeholder="Your message" class="contact-line">. Please reach me at <input type="text" style="display:inline" placeholder="Your email" class="contact-line">.&nbsp;&nbsp;
              <a href="#"><img src="../assets/img/puck-send.png" alt="send button" class="puck-send"></a>
            </form>

          </div>
        </div>
      </div>
    </section>

<!-- SCROLL BACK UP -->
    <a href="#top" class="back-to-top"><img src="../assets/img/up-arrow.png"></a>

    <footer class="footer">
    <div class="container">
    <span class="text-muted">&copy; Copyright 2017. Made with <span class="heart">♡</span> by Annie and Craig.</span></div>
    </footer>
</div>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <!-- Main JS -->

    <script src="/assets/js/script.js"></script>

  </body>
</html>